---
import Layout from '~/layouts/layout.astro'
---

<Layout>
  {/* <head /> */}
  <Fragment slot="head">
    <title>Astro</title>
  </Fragment>

  {/* <body /> */}
  <Fragment>
    <h1>muslimnegarawan.id</h1>
  </Fragment>
</Layout>
